/* EARLY ACCESS */

.early-access {
  padding: 100px 0;
  background: var(--desaturated-blue);
}

.early-access .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.early-access-intro {
  flex: 1;
  margin: 0 20px;
}

.early-access .container form {
  flex: 1;
  margin: 0 20px;
}

.early-access h2 {
  font-size: 1.7em;
  color: #fff;
}

.early-access p {
  width: 82%;
  font-size: 0.9em;
  line-height: 1.6;
  color: #fff;
}

.early-access form input {
  width: 90%;
  margin-bottom: 10px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2);
}

.early-access form button {
  width: 35%;
  padding: 15px 0;
  font-size: 0.8em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 940px) {
  .early-access .container {
    max-width: 900px;
    flex-direction: column;
  }

  .early-access h2 {
    font-size: 1.4em;
    text-align: center;
  }

  .early-access p {
    width: 82%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .early-access form input,
  .early-access form button {
    width: 100%;
  }
}
